body {
  background-color: rgb(245, 243, 243);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 30px;
  align-items: stretch;
  padding: 40px;
}

.grid-container {
  display: grid;
  grid-gap: 0px;
  background-color: rgb(245, 243, 243);
}

.grid-item {
  background-color: rgb(245, 243, 243);
  text-align: center;
  font-size: 30px;
}

.item1 {
  grid-column: 1;
  grid-row: 1 / span 3;
  font-family: sans-serif;
  font-size: 15px;
  display: none;
  padding: 10px;
}

.button-open {
  display: inline;
  position: absolute;
  background: #042331;
  color: white;
  border-radius: 3px;
  font-size: 30px;
  padding: 2px 10px;
  margin: 10px;
}

.button-close {
  display: inline;
  background: #042331;
  color: white;
  border-radius: 3px;
  font-size: 30px;
  padding: 2px 10px;
}

.item1-button {
  background-color: rgb(241, 99, 74);
  border-radius: 18px;
  font-size: 16px;
  margin: 4px 2px;
  border: none;
  padding: 8px 35px;
  cursor: pointer;
}

.item2 {
  grid-column: 3;
  grid-row: 1 / span 2;
  padding: 100px;
  font-family: sans-serif;
  font-size: 18px;
  text-align: left;
}
.item3 {
  grid-column: 2;
  grid-row: 1 / span 2;
  font-family: serif;
  font-size: 55px;
  text-align: left;
  font-weight: bolder;
  padding: 100px;
  margin-left: 180px;
}

.item4 {
  grid-column: span 2;
  grid-row: 3;
  margin-left: 240px;
}

@media screen and (min-width: 500px) {
  .item1 {
    display: inline;
  }
  .button-close {
    display: none;
  }
  .button-open {
    display: none;
  }

  /* .item3 {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
  }
  .item4 {
    grid-column: 1 / span 4;
    grid-row: 2 / span 2;
  }
  .item2 {
    grid-column: span 4;
    grid-row: 4;
  } */
}
